.card {
    width: 100%;
    height: fit-content;
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    border: 1px lightgray solid;
    border-radius: 10px;
  }
  
.card:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
